In [1]:
import pandas as pd

In [2]:
File = pd.read_csv("../../Data/final_data/training/geo_data/geo_training_data.csv")

In [3]:
a = pd.read_csv('./Weighted_data_nonscale.csv')

In [4]:
File.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796 entries, 0 to 795
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Hourly_Rainfall_Weight     796 non-null    float64
 1   Impervious_Surface_Weight  796 non-null    float64
 2   SLOPE_AVG_Weight           796 non-null    float64
 3   HIGH_Weight                796 non-null    float64
 4   F_WEIGHT                   796 non-null    float64
 5   FLOOD                      796 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 37.4 KB

In [5]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796 entries, 0 to 795
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 796 non-null    int64
 1   PUMP_RATIO                 796 non-null    float64
 2   Hourly_Rainfall_Weight     796 non-null    float64
 3   Impervious_Surface_Weight  796 non-null    float64
 4   SLOPE_AVG_Weight           796 non-null    float64
 5   HIGH_Weight                796 non-null    float64
 6   F_WEIGHT                   796 non-null    float64
 7   FLOOD                      796 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 49.9 KB

In [8]:
a = a.drop(columns=['PUMP_RATIO','Unnamed: 0'])

In [9]:
a[a['FLOOD']==1].count()

Hourly_Rainfall_Weight       291
Impervious_Surface_Weight    291
SLOPE_AVG_Weight             291
HIGH_Weight                  291
F_WEIGHT                     291
FLOOD                        291
dtype: int64

In [10]:
File[File['FLOOD']==1].count()

Hourly_Rainfall_Weight       291
Impervious_Surface_Weight    291
SLOPE_AVG_Weight             291
HIGH_Weight                  291
F_WEIGHT                     291
FLOOD                        291
dtype: int64

In [14]:
a.sort_values('Hourly_Rainfall_Weight', ascending=False)

,Hourly_Rainfall_Weight,Impervious_Surface_Weight,SLOPE_AVG_Weight,HIGH_Weight,F_WEIGHT,FLOOD
795,0.573248,1.156156,21.608643,448.115108,0.016667,0
787,0.573248,1.156156,12.147570,0.025496,0.016667,0
764,0.573248,1.156156,2.699784,0.086285,0.016667,1
770,0.573248,1.156156,0.599952,0.059282,0.016667,1
772,0.573248,1.156156,2.699784,0.053253,0.016667,1
...,...,...,...,...,...,...
175,0.000000,0.442670,2.699784,0.117684,0.016667,0
39,0.000000,0.467342,0.599952,0.043080,0.075019,0
350,0.000000,0.690923,2.699784,0.033534,0.075019,0
179,0.000000,0.442670,0.599952,0.095956,0.016667,0
736,0.000000,0.301755,0.599952,0.034665,0.016667,0

In [15]:
File.sort_values('Hourly_Rainfall_Weight', ascending=False)

,Hourly_Rainfall_Weight,Impervious_Surface_Weight,SLOPE_AVG_Weight,HIGH_Weight,F_WEIGHT,FLOOD
595,0.573248,1.156156,7.040000,115.950324,0.016667,0
592,0.573248,1.156156,21.608643,0.061794,0.016667,0
163,0.573248,1.156156,2.699784,0.053253,0.016667,1
169,0.573248,1.156156,2.699784,13.159136,0.016667,1
161,0.573248,1.156156,2.699784,0.025496,0.016667,1
...,...,...,...,...,...,...
140,0.000000,0.473500,2.699784,14.231827,0.016667,0
136,0.000000,0.473500,2.699784,96.414687,0.016667,0
132,0.000000,0.473500,2.699784,0.086410,0.016667,0
128,0.000000,0.473500,2.699784,0.190404,0.016667,0
190,0.000000,0.442670,0.599952,0.097337,0.016667,0

In [19]:
a[a['Hourly_Rainfall_Weight']==0.573248].count()

Hourly_Rainfall_Weight       0
Impervious_Surface_Weight    0
SLOPE_AVG_Weight             0
HIGH_Weight                  0
F_WEIGHT                     0
FLOOD                        0
dtype: int64

In [20]:
File[File['Hourly_Rainfall_Weight']==0.573248].count()

Hourly_Rainfall_Weight       0
Impervious_Surface_Weight    0
SLOPE_AVG_Weight             0
HIGH_Weight                  0
F_WEIGHT                     0
FLOOD                        0
dtype: int64

In [23]:
testa = a.groupby('Hourly_Rainfall_Weight').count()['FLOOD']
testb = File.groupby('Hourly_Rainfall_Weight').count()['FLOOD']