In [1]:
import pandas as pd

In [2]:
#api활용을 위해 제공되고 있는 xycode에서 부산 code만 추출한다

In [3]:
data = pd.read_excel('../Data/rawdata/API_xycode.xlsx')

In [4]:
data['CODE'] = data['행정구역코드'].apply(str)

In [5]:
busan_data = data[data['CODE'].str.startswith('26')]

In [6]:
busan_data = busan_data[['2단계','3단계','격자 X', '격자 Y', 'CODE']]

In [7]:
busan_data = busan_data.fillna(0)
busan_data = busan_data[busan_data['3단계']==0]

In [8]:
busan_data = busan_data.drop(columns='3단계')
busan_data = busan_data.drop(index=451)
busan_data

      2단계  격자 X  격자 Y        CODE
452    중구    97    74  2611000000
462    서구    97    74  2614000000
476    동구    98    75  2617000000
489   영도구    98    74  2620000000
501  부산진구    97    75  2623000000
522   동래구    98    76  2626000000
536    남구    98    75  2629000000
554    북구    96    76  2632000000
568  해운대구    99    75  2635000000
587   사하구    96    74  2638000000
604   금정구    98    77  2641000000
621   강서구    96    76  2644000000
630   연제구    98    76  2647000000
643   수영구    99    75  2650000000
654   사상구    96    75  2653000000
667   기장군   100    77  2671000000

In [9]:
busan_data = busan_data.rename(columns={'2단계':'ZONE','격자 X':'X','격자 Y' : 'Y'})

In [10]:
busan = busan_data.reset_index(drop=True)

In [11]:
busan

    ZONE    X   Y        CODE
0     중구   97  74  2611000000
1     서구   97  74  2614000000
2     동구   98  75  2617000000
3    영도구   98  74  2620000000
4   부산진구   97  75  2623000000
5    동래구   98  76  2626000000
6     남구   98  75  2629000000
7     북구   96  76  2632000000
8   해운대구   99  75  2635000000
9    사하구   96  74  2638000000
10   금정구   98  77  2641000000
11   강서구   96  76  2644000000
12   연제구   98  76  2647000000
13   수영구   99  75  2650000000
14   사상구   96  75  2653000000
15   기장군  100  77  2671000000

In [12]:
busan_data.to_csv('../Data/final_data/DB/xycode.csv', encoding='utf-8', index=False)

In [13]:
# busan_dong을 위한 코드를 만든다.

In [14]:
busan_dong = pd.read_csv('../Data/processing_data/1st/busan_flood_geo.csv')

busan_dong = busan_dong[['ADM_CD','ZONE','DONG','SLOPE_AVG','HIGH','FLUD_DPWT.1']]

busan_dong = busan_dong.sort_values('FLUD_DPWT.1', ascending=False,ignore_index=True)

busan_dong = busan_dong.drop_duplicates(['DONG'], keep='first')\
.sort_values(['ZONE','DONG'], ascending=['FALSE','TRUE'])\
.reset_index(drop=True)

busan_dong = busan_dong.drop(columns='FLUD_DPWT.1')

new_data={'ADM_CD':2617053000,'ZONE':'동구','DONG':'초량동','SLOPE_AVG':'1','HIGH':'4'}
busan_dong = busan_dong.append(new_data, ignore_index=True)

busan_dong = busan_dong[['ADM_CD','ZONE','SLOPE_AVG','HIGH']]
busan_dong['SLOPE_AVG'] = busan_dong['SLOPE_AVG'].astype(float)
busan_dong['HIGH'] = busan_dong['HIGH'].astype(float)

In [23]:
slope_weight = busan_dong['SLOPE_AVG'].copy()
high_weight = busan_dong['HIGH'].copy()

#경사도가중치
for idx,col in enumerate(busan_dong['SLOPE_AVG']):
    if col <= 10:
        slope_weight[idx] = col / (41.67 / 5**2 )
    elif col > 10 and col <= 15:
        slope_weight[idx] = col / (25 / 4**2)
    elif col > 15 and col <= 25:
        slope_weight[idx] = col / (16.67 / 3**2)
    elif col > 25 and col <= 50:
        slope_weight[idx] = col / (8.33 / 2**2)
    elif col > 50:
        slope_weight[idx] = col / (8.33 / 1**2)
#고도 가중치
for idx,col in enumerate(busan_dong['HIGH']):
    if col <= 20:
        high_weight[idx] = col / (79.62 / 1**2)
    elif col > 20 and col <= 40:
        high_weight[idx] = col / (10.18 / 2**2)
    elif col > 40 and col <= 60:
        high_weight[idx] = col / (4.63 / 3**2)
    elif col > 60 and col <= 80:
        high_weight[idx] = col / (2.78 / 4**2)
    elif col > 80:
        high_weight[idx] = col / (2.78 / 5**2)
busan_dong['SLOPE_AVG_Weight'] = slope_weight
busan_dong['HIGH_Weight'] = high_weight
busan_dong = busan_dong.drop(columns=['SLOPE_AVG','HIGH'])

In [29]:
busan_dong

        ADM_CD  ZONE  SLOPE_AVG_Weight  HIGH_Weight
0   2644012000   강서구         12.147570     0.114418
1   2644000000   강서구          0.599952     0.022231
2   2644000000   강서구          0.599952     0.014820
3   2644010400   강서구          0.599952     0.019467
4   2644011900   강서구          7.040000     0.016453
5   2641000000   금정구          7.040000     9.803536
6   2641000000   금정구          2.699784     0.086410
7   2641000000   금정구          2.699784    14.231827
8   2641000000   금정구          7.040000   367.021583
9   2641000000   금정구          0.599952   356.661871
10  2641000000   금정구          2.699784     0.162522
11  2641000000   금정구          2.699784     0.190404
12  2671000000   기장군          2.699784     0.053253
13  2671000000   기장군          2.699784     0.025496
14  2671000000   기장군          2.699784     0.061794
15  2671000000   기장군          2.699784    13.972495
16  2671000000   기장군          2.699784   448.115108
17  2629000000    남구          0.599952     0.047350
18  2617000000    동구          0.599952     0.037177
19  2626000000   동래구          0.599952     0.095956
20  2626000000   동래구          1.799856     0.082015
21  2626000000   동래구          0.599952     0.058905
22  2626000000   동래구          7.040000     0.064557
23  2626000000   동래구          0.599952     0.135770
24  2623000000  부산진구          2.699784    13.135560
25  2632000000    북구          7.040000     0.125220
26  2632000000    북구         21.608643  1538.129496
27  2632000000    북구          9.600000    12.687623
28  2653000000   사상구          0.599952     0.030646
29  2653000000   사상구          0.599952     0.034665
30  2653000000   사상구          0.599952     0.072972
31  2653000000   사상구          0.599952     0.017081
32  2638010800   사하구          5.099592     0.080633
33  2638010100   사하구          8.000000    10.416503
34  2638000000   사하구          0.599952     0.031650
35  2638000000   사하구          0.599952     0.036925
36  2638010500   사하구          0.599952     0.024868
37  2638010300   사하구          0.599952     0.030143
38  2614000000    서구          7.040000     0.024115
39  2650000000   수영구          2.699784     0.042452
40  2650010500   수영구          2.699784     0.039186
41  2650000000   수영구          7.040000     0.072846
42  2650000000   수영구          2.699784     0.025245
43  2650000000   수영구          0.599952     0.043582
44  2647000000   연제구          2.699784     0.072218
45  2647000000   연제구          0.599952     0.043080
46  2620010700   영도구          0.599952     0.024366
47  2620000000   영도구         21.608643    12.298625
48  2620012000   영도구          0.599952     0.039940
49  2635000000  해운대구          2.699784     0.042703
50  2635000000  해운대구          2.699784     0.033534
51  2635000000  해운대구          0.599952     0.078875
52  2635000000  해운대구          2.699784    10.569745
53  2635000000  해운대구          0.599952     0.043582
54  2635000000  해운대구          2.699784     0.083773
55  2617053000    동구          0.599952     0.050239

In [30]:
sig_info = pd.read_csv('../Data/processing_data/2nd/sig_info_weight.csv')

In [32]:
busan_dong = pd.merge(busan_dong, sig_info, on='ZONE', how='left')

In [33]:
busan_dong.to_csv('../Data/final_data/DB/busan_base_data.csv', encoding='utf-8', index=False)

In [34]:
########REALdata 학습한 데이터 만들기