In [1]:
import pandas as pd

# 부산침수지역 가중치

In [2]:
BF = pd.read_excel("./부산침수지역정보_침수심결측치_보완.xlsx")

In [3]:
BF.drop("Unnamed: 0",axis=1,inplace=True)

In [4]:
BF.loc[BF["HOUR_RAINFALL"]<=10, "R_W_SUM"]=BF["HOUR_RAINFALL"]*0.01
BF.loc[(BF["HOUR_RAINFALL"]>10)&(BF["HOUR_RAINFALL"]<=30), "R_W_SUM"]=BF["HOUR_RAINFALL"]*0.41
BF.loc[(BF["HOUR_RAINFALL"]>30)&(BF["HOUR_RAINFALL"]<=50), "R_W_SUM"]=BF["HOUR_RAINFALL"]*4.23
BF.loc[(BF["HOUR_RAINFALL"]>50)&(BF["HOUR_RAINFALL"]<=70), "R_W_SUM"]=BF["HOUR_RAINFALL"]*30.77
BF.loc[BF["HOUR_RAINFALL"]>70, "R_W_SUM"]=BF["HOUR_RAINFALL"]*83.33

In [5]:
BF["FLOOD"].fillna(0,inplace=True)

In [6]:
BF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3960 entries, 0 to 3959
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SEQ             3960 non-null   int64
 1   ADM_CD          3960 non-null   int64
 2   ZONE            3960 non-null   object
 3   DONG            1344 non-null   object
 4   DISTRICT        3960 non-null   object
 5   SLOPE_L         3960 non-null   float64
 6   SLOPE_H         3960 non-null   int64
 7   SLOPE_AVG       3960 non-null   float64
 8   HIGH            3960 non-null   float64
 9   PUMP_RATIO      3960 non-null   float64
 10  IMP_SUR_RATIO   3960 non-null   float64
 11  MANHOLES_RATIO  3960 non-null   float64
 12  F_BEGIN_DE      3960 non-null   int64
 13  F_END_DE        3960 non-null   int64
 14  F_BEGIN_TM      3912 non-null   float64
 15  F_END_TM        3912 non-null   float64
 16  FLUD_TIME       3912 non-null   float64
 17  FLUD_DPWT       3960 non-null   float64
 18  FLOOD           3960 non-null   float64
 19  HOUR_RAINFALL   3960 non-null   float64
 20  PRECI_YYMMDDHH  3960 non-null   int64
 21  PRECI_HH        3960 non-null   int64
 22  R_W_SUM         3960 non-null   float64
dtypes: float64(13), int64(7), object(3)
memory usage: 711.7+ KB

In [7]:
IMP_w = pd.read_excel("./IMP_SUR_WEIGHT_INFO.xlsx")
F_bin_w = pd.read_excel("./F_BIN_WEIGHT_INFO.xlsx")

In [8]:
BF_I = pd.merge(BF,IMP_w,how="inner",on="ZONE")
BF_I_B = pd.merge(BF_I,F_bin_w,how="inner",on="ZONE")

In [9]:
BF_I_B.columns

Index(['SEQ', 'ADM_CD', 'ZONE', 'DONG', 'DISTRICT', 'SLOPE_L', 'SLOPE_H',
       'SLOPE_AVG', 'HIGH', 'PUMP_RATIO', 'IMP_SUR_RATIO_x', 'MANHOLES_RATIO',
       'F_BEGIN_DE', 'F_END_DE', 'F_BEGIN_TM', 'F_END_TM', 'FLUD_TIME',
       'FLUD_DPWT', 'FLOOD', 'HOUR_RAINFALL', 'PRECI_YYMMDDHH', 'PRECI_HH',
       'R_W_SUM', 'IMP_SUR_RATIO_y', 'IMP_SUR_GRADE', 'IMP_SUR_PERCENTAGE',
       'IMP_SUR_WEIGHT', 'IMP_W_SUM', 'F_GRADE', 'F_PERCENTAGE', 'F_WEIGHT'],
      dtype='object')

In [10]:
df = BF_I_B[['SEQ', 'ADM_CD', 'ZONE', 'DONG', 'DISTRICT', 'SLOPE_L', 'SLOPE_H',
       'SLOPE_AVG', 'HIGH', 'PUMP_RATIO', 'IMP_SUR_RATIO_x', 'MANHOLES_RATIO',
       'FLUD_DPWT', 'FLOOD', 'HOUR_RAINFALL', 'R_W_SUM','IMP_W_SUM','F_WEIGHT']].copy()

In [11]:
df.rename(columns={'IMP_SUR_RATIO_x':'IMP_SUR_RATIO'},inplace=True)

In [12]:
df.to_excel("./부산침수지역_가중치.xlsx")

# 최종데이터 가중치

In [2]:
F_data = pd.read_csv("../Data/final_data/training/geo_data/geo_training_data.csv")

In [3]:
F_data

,PUMP_RATIO,Hourly_Rainfall_Weight,Impervious_Surface_Weight,SLOPE_AVG_Weight,HIGH_Weight,F_WEIGHT,FLOOD
0,4.115226e-07,0.104348,0.467342,0.599952,0.045968,0.075019,0
1,4.115226e-07,0.208696,0.467342,0.599952,0.045968,0.075019,0
2,4.115226e-07,0.259722,0.467342,0.599952,0.045968,0.075019,1
3,4.115226e-07,0.010870,0.467342,2.699784,0.072218,0.075019,0
4,4.115226e-07,0.108696,0.467342,2.699784,0.072218,0.075019,1
...,...,...,...,...,...,...,...
791,1.364381e-08,0.573248,1.156156,7.040000,115.950324,0.016667,0
792,1.364381e-08,0.573248,1.156156,21.608643,13.159136,0.016667,0
793,1.364381e-08,0.573248,1.156156,12.147570,0.066817,0.016667,0
794,1.364381e-08,0.573248,1.156156,21.608643,0.061794,0.016667,0
795,1.364381e-08,0.573248,1.156156,21.608643,448.115108,0.016667,0

In [50]:
F_data.drop("Unnamed: 0",axis=1,inplace=True)

In [51]:
F_data["FLOOD"].fillna(0,inplace=True)

In [52]:
F_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796 entries, 0 to 795
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SEQ             796 non-null    int64
 1   ADM_CD          796 non-null    int64
 2   ZONE            796 non-null    object
 3   DONG            117 non-null    object
 4   DISTRICT        796 non-null    object
 5   SLOPE_L         796 non-null    float64
 6   SLOPE_H         796 non-null    int64
 7   SLOPE_AVG       796 non-null    float64
 8   HIGH            796 non-null    float64
 9   PUMP_RATIO      796 non-null    float64
 10  IMP_SUR_RATIO   796 non-null    float64
 11  MANHOLES_RATIO  796 non-null    float64
 12  F_BEGIN_DE      796 non-null    int64
 13  F_END_DE        796 non-null    int64
 14  F_BEGIN_TM      785 non-null    float64
 15  F_END_TM        785 non-null    float64
 16  FLUD_TIME       785 non-null    float64
 17  FLUD_DPWT       796 non-null    float64
 18  FLOOD           796 non-null    float64
 19  HOUR_RAINFALL   796 non-null    float64
 20  PRECI_YYMMDDHH  796 non-null    int64
 21  PRECI_HH        796 non-null    int64
dtypes: float64(12), int64(7), object(3)
memory usage: 136.9+ KB

In [53]:
F_data.loc[F_data["HOUR_RAINFALL"]<=10, "R_W_SUM"]=F_data["HOUR_RAINFALL"]*0.01
F_data.loc[(F_data["HOUR_RAINFALL"]>10)&(F_data["HOUR_RAINFALL"]<=30), "R_W_SUM"]=F_data["HOUR_RAINFALL"]*0.41
F_data.loc[(F_data["HOUR_RAINFALL"]>30)&(F_data["HOUR_RAINFALL"]<=50), "R_W_SUM"]=F_data["HOUR_RAINFALL"]*4.23
F_data.loc[(F_data["HOUR_RAINFALL"]>50)&(F_data["HOUR_RAINFALL"]<=70), "R_W_SUM"]=F_data["HOUR_RAINFALL"]*30.77
F_data.loc[F_data["HOUR_RAINFALL"]>70, "R_W_SUM"]=F_data["HOUR_RAINFALL"]*83.33

In [54]:
Fd_I = pd.merge(F_data,IMP_w,how="inner",on="ZONE")
Fd_I_B = pd.merge(Fd_I,F_bin_w,how="inner",on="ZONE")

In [55]:
Fd_I_B.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 796 entries, 0 to 795
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SEQ                 796 non-null    int64
 1   ADM_CD              796 non-null    int64
 2   ZONE                796 non-null    object
 3   DONG                117 non-null    object
 4   DISTRICT            796 non-null    object
 5   SLOPE_L             796 non-null    float64
 6   SLOPE_H             796 non-null    int64
 7   SLOPE_AVG           796 non-null    float64
 8   HIGH                796 non-null    float64
 9   PUMP_RATIO          796 non-null    float64
 10  IMP_SUR_RATIO_x     796 non-null    float64
 11  MANHOLES_RATIO      796 non-null    float64
 12  F_BEGIN_DE          796 non-null    int64
 13  F_END_DE            796 non-null    int64
 14  F_BEGIN_TM          785 non-null    float64
 15  F_END_TM            785 non-null    float64
 16  FLUD_TIME           785 non-null    float64
 17  FLUD_DPWT           796 non-null    float64
 18  FLOOD               796 non-null    float64
 19  HOUR_RAINFALL       796 non-null    float64
 20  PRECI_YYMMDDHH      796 non-null    int64
 21  PRECI_HH            796 non-null    int64
 22  R_W_SUM             796 non-null    float64
 23  IMP_SUR_RATIO_y     796 non-null    float64
 24  IMP_SUR_GRADE       796 non-null    int64
 25  IMP_SUR_PERCENTAGE  796 non-null    float64
 26  IMP_SUR_WEIGHT      796 non-null    float64
 27  IMP_W_SUM           796 non-null    float64
 28  F_GRADE             796 non-null    int64
 29  F_PERCENTAGE        796 non-null    float64
 30  F_WEIGHT            796 non-null    float64
dtypes: float64(19), int64(9), object(3)
memory usage: 199.0+ KB

In [56]:
df2 = Fd_I_B[['SEQ', 'ADM_CD', 'ZONE', 'DONG', 'DISTRICT', 'SLOPE_L', 'SLOPE_H',
       'SLOPE_AVG', 'HIGH', 'PUMP_RATIO', 'IMP_SUR_RATIO_x', 'MANHOLES_RATIO',
       'FLUD_DPWT', 'FLOOD', 'HOUR_RAINFALL', 'R_W_SUM','IMP_W_SUM','F_WEIGHT']].copy()

In [57]:
df2.rename(columns={'IMP_SUR_RATIO_x':'IMP_SUR_RATIO'},inplace=True)

In [58]:
df2.to_excel("./부산침수_비침수_가중치.xlsx")